/* Search restaurants */
.wrap-input {
  margin: 0 auto;
}

.search-name {
  margin: 4% 0;
  background-color: #FAEEED;
  border: none;
  border-bottom: 2px solid #9B8281;
  border-radius: 0;
  color: #9B8281;
  font-weight: 500;
}
.search-name:focus {
  border-bottom: 2px solid #9B8281;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Reset button */
.btn-reset {
  margin: 1% 0;
  background-color: #9B8281;
  border-color: #9B8281;
  cursor: pointer;
}
.btn-reset:hover {
  background-color: #534847;
  border-color: #534847;
}
.btn-reset:focus {
  box-shadow: none;
}
.btn-reset:active {
  background-color: #9B8281;
  background-image: none;
  border-color: #534847;
}

.no-results {
  border: 1px solid #9B8281;
  padding: 20px 50px;
  margin: 100px 20px 0 20px;
}

select {
  margin: 15px 0;
  background-color: #FAEEED;
  color: #534847;
  padding: 5px 20px; 
  outline: none;
  border: 2px solid #9B8281;
}